n8n-book-generator-workflow.json
{
  "name": "AI Book Generator with Google Docs",
  "nodes": [
    {
      "parameters": {
        "content": "=## Book Generation Started\n\n**Topic:** {{ $json.bookTopic }}\n**Type:** {{ $json.bookType }}\n**Target Length:** {{ $json.targetWords }} words\n\nGenerating your complete book with all sections...",
        "options": {}
      },
      "id": "start-notification",
      "name": "Start Notification",
      "type": "n8n-nodes-base.stickyNote",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "bookTopic",
              "value": "Digital Marketing Mastery"
            },
            {
              "name": "bookType",
              "value": "non-fiction"
            },
            {
              "name": "targetWords",
              "value": "40000"
            },
            {
              "name": "authorName",
              "value": "Your Name"
            },
            {
              "name": "authorBio",
              "value": "Expert in digital marketing with 10+ years experience"
            },
            {
              "name": "includeImages",
              "value": "yes"
            }
          ]
        },
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger - Set Book Details",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "document",
        "operation": "create",
        "title": "={{ $json.bookTopic }} - Complete Book",
        "options": {}
      },
      "id": "create-google-doc",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [680, 300],
      "typeVersion": 2,
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc-id",
              "name": "documentId",
              "value": "={{ $json.documentId }}",
              "type": "string"
            },
            {
              "id": "doc-url",
              "name": "documentUrl",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "store-doc-info",
      "name": "Store Document Info",
      "type": "n8n-nodes-base.set",
      "position": [900, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"Generate a complete book outline with detailed structure for: {{ $('Manual Trigger - Set Book Details').item.json.bookTopic }}\\n\\nBook Type: {{ $('Manual Trigger - Set Book Details').item.json.bookType }}\\nTarget Length: {{ $('Manual Trigger - Set Book Details').item.json.targetWords }} words\\n\\nCreate a JSON structure with:\\n1. Front Matter (title, copyright, dedication, table of contents, preface, acknowledgements)\\n2. Main Matter (introduction, 10-15 chapters with titles and subtopics)\\n3. Back Matter (conclusion, appendix, glossary, references, about author)\\n\\nFor each chapter, provide:\\n- Chapter title\\n- 3-5 subtopics\\n- Estimated word count\\n- Key points to cover\\n\\nReturn ONLY valid JSON, no other text.\"}]}]"
            },
            {
              "name": "generationConfig",
              "value": "={\"temperature\":0.9,\"topK\":40,\"topP\":0.95,\"maxOutputTokens\":8192}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-outline",
      "name": "Generate Book Outline (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1120, 300],
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst text = response.candidates[0].content.parts[0].text;\n\n// Extract JSON from markdown code blocks if present\nlet jsonText = text;\nif (text.includes('```json')) {\n  jsonText = text.split('```json')[1].split('```')[0].trim();\n} else if (text.includes('```')) {\n  jsonText = text.split('```')[1].split('```')[0].trim();\n}\n\nconst outline = JSON.parse(jsonText);\n\nreturn {\n  json: {\n    outline: outline,\n    bookTopic: $('Manual Trigger - Set Book Details').item.json.bookTopic,\n    authorName: $('Manual Trigger - Set Book Details').item.json.authorName,\n    authorBio: $('Manual Trigger - Set Book Details').item.json.authorBio,\n    documentId: $('Store Document Info').item.json.documentId\n  }\n};"
      },
      "id": "parse-outline",
      "name": "Parse Outline JSON",
      "type": "n8n-nodes-base.code",
      "position": [1340, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const outline = $input.item.json.outline;\nconst chapters = outline.mainMatter?.chapters || outline.chapters || [];\n\nconst items = [];\n\n// Generate tasks for each section\nitems.push({\n  section: 'front-matter',\n  type: 'title-page',\n  content: outline.frontMatter || {},\n  order: 1\n});\n\nitems.push({\n  section: 'front-matter',\n  type: 'table-of-contents',\n  content: chapters,\n  order: 2\n});\n\nitems.push({\n  section: 'front-matter',\n  type: 'preface',\n  content: outline.frontMatter?.preface || 'Write an engaging preface',\n  order: 3\n});\n\nitems.push({\n  section: 'main-matter',\n  type: 'introduction',\n  content: outline.mainMatter?.introduction || 'Write a comprehensive introduction',\n  order: 4\n});\n\n// Add each chapter\nchapters.forEach((chapter, index) => {\n  items.push({\n    section: 'main-matter',\n    type: 'chapter',\n    chapterNumber: index + 1,\n    chapterTitle: chapter.title || chapter.chapterTitle || `Chapter ${index + 1}`,\n    subtopics: chapter.subtopics || chapter.topics || [],\n    wordCount: chapter.wordCount || Math.floor($('Manual Trigger - Set Book Details').item.json.targetWords / chapters.length),\n    keyPoints: chapter.keyPoints || [],\n    order: 5 + index\n  });\n});\n\nitems.push({\n  section: 'back-matter',\n  type: 'conclusion',\n  content: 'Write a powerful conclusion',\n  order: 1000\n});\n\nitems.push({\n  section: 'back-matter',\n  type: 'about-author',\n  content: $('Manual Trigger - Set Book Details').item.json.authorBio,\n  order: 1001\n});\n\nreturn items.map(item => ({\n  json: {\n    ...item,\n    bookTopic: $input.item.json.bookTopic,\n    authorName: $input.item.json.authorName,\n    documentId: $input.item.json.documentId\n  }\n}));"
      },
      "id": "split-into-sections",
      "name": "Split Into Sections",
      "type": "n8n-nodes-base.code",
      "position": [1560, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"{{ $json.type === 'chapter' ? 'Write Chapter ' + $json.chapterNumber + ': ' + $json.chapterTitle + ' for the book: ' + $json.bookTopic + '\\\\n\\\\nSubtopics to cover:\\\\n' + $json.subtopics.join('\\\\n- ') + '\\\\n\\\\nKey Points:\\\\n' + ($json.keyPoints.join('\\\\n- ') || 'N/A') + '\\\\n\\\\nTarget word count: ' + $json.wordCount + ' words\\\\n\\\\nWrite in an engaging, professional style with clear examples and actionable insights. Include section headers for each subtopic.' : $json.type === 'introduction' ? 'Write a comprehensive introduction for the book: ' + $json.bookTopic + '\\\\n\\\\nThe introduction should:\\\\n- Hook the reader\\\\n- Explain why this topic matters\\\\n- Preview what readers will learn\\\\n- Set the tone for the book\\\\n\\\\nTarget: 2000-3000 words' : $json.type === 'preface' ? 'Write a preface for the book: ' + $json.bookTopic + '\\\\n\\\\nInclude:\\\\n- Personal connection to the topic\\\\n- Journey that led to writing this book\\\\n- What makes this book unique\\\\n\\\\nTarget: 1000-1500 words' : $json.type === 'conclusion' ? 'Write a powerful conclusion for the book: ' + $json.bookTopic + '\\\\n\\\\nInclude:\\\\n- Summary of key insights\\\\n- Call to action\\\\n- Final thoughts and inspiration\\\\n- Next steps for readers\\\\n\\\\nTarget: 2000-2500 words' : 'Generate content for: ' + $json.type}}\"}]}]"
            },
            {
              "name": "generationConfig",
              "value": "={\"temperature\":0.8,\"topK\":40,\"topP\":0.95,\"maxOutputTokens\":8192}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-content",
      "name": "Generate Content (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1780, 300],
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst generatedText = response.candidates[0].content.parts[0].text;\n\nreturn {\n  json: {\n    section: $input.item.json.section,\n    type: $input.item.json.type,\n    chapterNumber: $input.item.json.chapterNumber,\n    chapterTitle: $input.item.json.chapterTitle,\n    content: generatedText,\n    order: $input.item.json.order,\n    documentId: $input.item.json.documentId,\n    bookTopic: $input.item.json.bookTopic,\n    authorName: $input.item.json.authorName\n  }\n};"
      },
      "id": "extract-content",
      "name": "Extract Generated Content",
      "type": "n8n-nodes-base.code",
      "position": [2000, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"Generate a detailed image prompt for {{ $json.type === 'chapter' ? 'Chapter ' + $json.chapterNumber + ': ' + $json.chapterTitle : $json.type }} in a book about {{ $json.bookTopic }}.\\n\\nCreate a professional, high-quality image prompt suitable for book illustration. The image should be relevant, engaging, and professional.\\n\\nReturn only the image prompt text, nothing else.\"}]}]"
            },
            {
              "name": "generationConfig",
              "value": "={\"temperature\":0.7,\"maxOutputTokens\":500}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-image-prompt",
      "name": "Generate Image Prompt (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2220, 300],
      "typeVersion": 4,
      "disabled": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"{{ $('Extract Generated Content').item.json.type === 'chapter' ? 'Chapter ' + $('Extract Generated Content').item.json.chapterNumber + ': ' + $('Extract Generated Content').item.json.chapterTitle : $('Extract Generated Content').item.json.type }} - {{ $('Extract Generated Content').item.json.bookTopic }}\"}]}]"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-image-placeholder",
      "name": "Image Placeholder Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [2440, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": "={{ $json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.type === 'title-page' ? '\\n\\n' + $json.bookTopic.toUpperCase() + '\\n\\nBy ' + $json.authorName + '\\n\\n' + new Date().getFullYear() + '\\n\\n---\\n\\n' : $json.type === 'chapter' ? '\\n\\nCHAPTER ' + $json.chapterNumber + '\\n' + $json.chapterTitle.toUpperCase() + '\\n\\n' + $json.content + '\\n\\n[Image: Professional illustration for ' + $json.chapterTitle + ']\\n\\n---\\n\\n' : $json.type === 'introduction' ? '\\n\\nINTRODUCTION\\n\\n' + $json.content + '\\n\\n---\\n\\n' : $json.type === 'preface' ? '\\n\\nPREFACE\\n\\n' + $json.content + '\\n\\n---\\n\\n' : $json.type === 'conclusion' ? '\\n\\nCONCLUSION\\n\\n' + $json.content + '\\n\\n---\\n\\n' : $json.type === 'about-author' ? '\\n\\nABOUT THE AUTHOR\\n\\n' + $json.authorName + '\\n\\n' + $json.content + '\\n\\n' : $json.content }}",
              "location": "end"
            }
          ]
        }
      },
      "id": "append-to-doc",
      "name": "Append to Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [2660, 300],
      "typeVersion": 2,
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "id": "rate-limit",
      "name": "Wait 2sec (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "position": [2880, 300],
      "typeVersion": 1,
      "webhookId": "rate-limit-wait"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "about-author"
            }
          ]
        }
      },
      "id": "check-if-last",
      "name": "Check If Last Section",
      "type": "n8n-nodes-base.if",
      "position": [3100, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "=## ✅ Book Generation Complete!\n\n**Title:** {{ $('Manual Trigger - Set Book Details').item.json.bookTopic }}\n**Author:** {{ $('Manual Trigger - Set Book Details').item.json.authorName }}\n\n**Google Doc:** https://docs.google.com/document/d/{{ $json.documentId }}/edit\n\n**Sections Generated:**\n- ✅ Front Matter (Title, Preface, ToC)\n- ✅ Introduction\n- ✅ All Chapters with Content\n- ✅ Conclusion\n- ✅ About the Author\n- ✅ Image Placeholders\n\n**Next Steps:**\n1. Open the Google Doc\n2. Review and edit content\n3. Replace image placeholders with actual images\n4. Format and style as needed\n5. Export to PDF or publish!",
        "options": {}
      },
      "id": "completion-message",
      "name": "✅ Book Complete!",
      "type": "n8n-nodes-base.stickyNote",
      "position": [3320, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-doc-id",
              "name": "finalDocumentId",
              "value": "={{ $json.documentId }}",
              "type": "string"
            },
            {
              "id": "final-url",
              "name": "finalDocumentUrl",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit",
              "type": "string"
            },
            {
              "id": "book-title",
              "name": "bookTitle",
              "value": "={{ $('Manual Trigger - Set Book Details').item.json.bookTopic }}",
              "type": "string"
            },
            {
              "id": "completion-time",
              "name": "completedAt",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "final-output",
      "name": "Final Output",
      "type": "n8n-nodes-base.set",
      "position": [3320, 300],
      "typeVersion": 3
    }
  ],
  "connections": {
    "Manual Trigger - Set Book Details": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Store Document Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Document Info": {
      "main": [
        [
          {
            "node": "Generate Book Outline (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Book Outline (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Outline JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outline JSON": {
      "main": [
        [
          {
            "node": "Split Into Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Sections": {
      "main": [
        [
          {
            "node": "Generate Content (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content (Gemini)": {
      "main": [
        [
          {
            "node": "Extract Generated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Generated Content": {
      "main": [
        [
          {
            "node": "Generate Image Prompt (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt (Gemini)": {
      "main": [
        [
          {
            "node": "Append to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Doc": {
      "main": [
        [
          {
            "node": "Wait 2sec (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2sec (Rate Limit)": {
      "main": [
        [
          {
            "node": "Check If Last Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Last Section": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          null
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
